{%- liquid
	assign class_block = 'c-item-card__thumbnail__block'
	assign class_block_active = 'c-item-card__thumbnail__block is-active'
-%}

{%- if product.media.size > 0 -%}
	{%- assign has_color_option = false -%}
	{%- for product_option in product.options_with_values -%}
		{%- liquid
			assign variant_group_name_h = product_option.name | handle
			assign variant_group_values = product_option.values
		-%}

		{%- if variant_group_name_h == 'color' and variant_group_values.size > 1 -%}
			{%- assign has_color_option = true -%}

			{%- for color in variant_group_values -%}
				{%- liquid
					assign color_h = color | handle
					assign data_attribute = 'data-card-target="' | append: color_h | append: '"'
					assign class = class_block
					if forloop.first
						assign class = class_block_active
					endif
				-%}

				<div class="{{ class }}" {{ data_attribute }}>
					{%- assign main_image = nil -%}
					{%- assign fallback_hover_image = nil -%}
					{%- assign hover_image = nil -%}
					{%- assign match_index = 0 -%}

					{%- for media in product.media -%}
						{%- if media.alt contains '###' -%}
							{%- assign split_alt = media.alt | split: '###' -%}
							{%- assign variant_option_hover = split_alt[0] | handle -%}
							{%- assign variant_option = split_alt[1] | handle -%}

							{%- if color_h == variant_option -%}

								{%- if main_image == nil -%}
									{%- assign main_image = media -%}
									{%- assign match_index = match_index | plus: 1 -%}

								{%- elsif hover_image == nil and variant_option_hover == 'hover' -%}
									{%- assign hover_image = media -%}

								{%- elsif fallback_hover_image == nil -%}
									{%- assign fallback_hover_image = media -%}
								{%- endif -%}

							{%- endif -%}
						{%- endif -%}
					{%- endfor -%}

					{%- if main_image -%}
						<span class="c-item-card__thumbnail__image object-fit">
							{% render 'c-img-srcset', image: main_image, alt: product.title %}
						</span>
					{%- endif -%}

					{%- if hover_image -%}
						<span class="c-item-card__thumbnail__image object-fit is-hover">
							{% render 'c-img-srcset', image: hover_image, alt: product.title %}
						</span>
					{%- elsif fallback_hover_image -%}
						<span class="c-item-card__thumbnail__image object-fit is-hover">
							{% render 'c-img-srcset', image: fallback_hover_image, alt: product.title %}
						</span>
					{%- endif -%}
				</div>
			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}

	{%- unless has_color_option -%}
		<div class="{{ class_block_active }}">
			{%- for media in product.media limit: 2 -%}
				{%- case media.media_type -%}
					{%- when 'image' -%}
						<span class="c-item-card__thumbnail__image object-fit{% if forloop.index == 2 %} is-hover{% endif %}">
							{% render 'c-img-srcset',
								image: media,
								alt: product.title %}
						</span>
				{%- endcase -%}
			{%- endfor -%}
		</div>
	{%- endunless -%}
{%- endif -%}
