<form
	class="c-search-form f-h f-a-c js-search-form {% if is_search_page %}is-search-page{% endif %}"
	action="{{- routes.search_url -}}"
	method="get"
>
	<input type="hidden" name="type" value="product">

	<input
		type="text"
		name="q"
		placeholder="Search..."
		aria-label="Search"
		class="c-search-form__input js-search-input"
		id="custom-search-input"
	/>

	{%- if is_search_page -%}
		<button
			type="submit"
			class="c-search-form__submit"
			aria-label="Start search">
			<span class="icon-caret-right"></span>
		</button>
	{%- else -%}
		<button
			type="reset"
			class="c-search-form__reset js-search-reset"
			aria-label="Reset search">
			<span class="icon-close"></span>
		</button>
	{%- endif -%}
</form>

{%- if suggestions.size > 0 -%}
	<ul class="c-search-form__suggestions f-h f-j-c cr-subtle-4">
	{%- for i in suggestions -%}
		<li>
			<a href="{{- routes.search_url | append: '?q=' | append: i | append: '&type=product' -}}">{{ i }}</a>
		</li>
	{%- endfor -%}
	</ul>
{%- endif -%}
