{%- assign intent = intent | default: 'related' -%}

<section class="products-related">
  {% if intent == 'related' %}
    <h2 class="products-related__title p-x-max t-l-2">{{- heading | default: 'Related Products' -}}</h2>
	{% elsif intent == 'complementary' %}
		<h2 class="products-related__title p-x-max t-l-2">{{- heading | default: 'Styled with :' -}}</h2>
	{% endif %}

	<div class="products-related__blocks p-x-max f-h f-j-c f-a-s">
		{%- for p in products -%}
			{%- render 'c-item-card', item: p -%}
		{%- endfor -%}
	</div>
</section>
