{% schema %}
{
	"name": "404 Content",
	"tag": "section",
	"class": "p-404 f-v f-j-c f-a-c",
	"settings": [
		{
			"type": "textarea",
			"id": "heading",
			"label": "Heading",
		},
		{
			"type": "text",
			"id": "cta_label",
			"label": "CTA Label",
			"default": "Continue Shopping"
		},
		{
			"type": "url",
			"id": "cta_url",
			"label": "CTA URL",
			"default": "/collections"
		}
	]
}
{% endschema %}

{% liquid
	assign heading = section.settings.heading
	assign cta_label = section.settings.cta_label
	assign cta_url = section.settings.cta_url
%}

<div class="p-404__content wysiwyg">
	<h1 class="t-h-1 t-capitalize">{{- heading | default: "This page doesn't exist." | newline_to_br -}}</h1>
	{%- if cta_label != blank and cta_url != blank -%}
		<a
			class="btn"
			href="{{- cta_url -}}"
		>
			{{- cta_label -}}
		</a>
	{%- endif -%}
</div>
