{% schema %}
{
	"name": "Authentication Content",
	"tag": "section",
	"class": "authentication-content p-y-section p-x-xs f-v f-j-c",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Authentication"
		},
		{
			"type": "image_picker",
			"id": "authentication_logo",
			"label": "Logo"
		},
		{
			"type": "richtext",
			"id": "authentication_content",
			"label": "Content"
		},
		{
			"type": "image_picker",
			"id": "authentication_demo_image_1",
			"label": "Demo Image 1"
		},
		{
			"type": "image_picker",
			"id": "authentication_demo_image_2",
			"label": "Demo Image 2"
		}
	],
}
{% endschema %}

{%- liquid
	assign title = section.settings.title
	assign authentication_content = section.settings.authentication_content
	assign authentication_logo = section.settings.authentication_logo
	assign authentication_demo_image_1 = section.settings.authentication_demo_image_1
	assign authentication_demo_image_2 = section.settings.authentication_demo_image_2
-%}

<div class="authentication-content__inner f-h">
	{%- if title != blank -%}
		<h1 class="authentication-content__title t-l-2 t-bold">{{ title }}</h1>
	{%- endif -%}

	<div class="authentication-content__main f-v">
		{%- if authentication_content != blank -%}
			{%- if authentication_logo != nil -%}
				<div class="authentication-content__logo">
					{%- render 'c-img-srcset',
						image: authentication_logo,
						alt: authentication_logo.alt
					-%}
				</div>
			{%- endif -%}
			<div class="authentication-content__paragraph wysiwyg">{{ authentication_content }}</div>
		{%- endif -%}

		<form id="clg-form" class="authentication-content__form f-v f-a-s" action="https://www.certilogo.com/code/check/" target="_blank">
			<div class="c-field">
				<input type="text" id="clgCode" placeholder="Enter CLG Code">
			</div>
			<button id="clgCode-submit" class="btn" target="_blank">Verify</button>
		</form>

		<div class="authentication-content__images f-h f-a-c">
			{%- if authentication_demo_image_1 != nil -%}
				<div class="authentication-content__image">
					{%- render 'c-img-srcset',
						image: authentication_demo_image_1,
						alt: authentication_demo_image_1.alt
					-%}
				</div>
			{%- endif -%}

			{%- if authentication_demo_image_2 != nil -%}
				<div class="authentication-content__image">
					{%- render 'c-img-srcset',
						image: authentication_demo_image_2,
						alt: authentication_demo_image_2.alt
					-%}
				</div>
			{%- endif -%}
		</div>
	</div>
</div>