{% schema %}
{
	"name": "Minicart",
	"class": "g-minicart",
	"settings": [
		{
			"type": "header",
			"content": "Empty cart"
		},
		{
			"type": "text",
			"id": "empty_heading",
			"label": "Empty Heading",
			"default": "Your cart is empty."
		},
		{
			"type": "textarea",
			"id": "empty_message",
			"label": "Empty message",
			"default": "Continue shopping or browse the categories below to add items to your cart."
		},
		{
			"type": "text",
			"id": "empty_cta_label",
			"label": "CTA Label"
		},
		{
			"type": "url",
			"id": "empty_cta_url",
			"label": "CTA URL"
		},
	],
}
{% endschema %}

{% liquid
	assign schema = section.settings
%}

<button
	type="button"
	class="g-minicart__overlay p-fill js-minicart-close"
></button>

<div
	class="g-minicart__content"
	aria-labelledby="c-cart"
>
	{% render 'c-cart',
		is_minicart: true,
		announcement: schema.announcement,
		announcement_freeshipping: schema.announcement_freeshipping,
		footnote: schema.footnote,
		empty_heading: schema.empty_heading,
		empty_message: schema.empty_message,
		empty_collection_list: schema.empty_collection_list,
		empty_cta_label: schema.empty_cta_label,
		empty_cta_url: schema.empty_cta_url,
		is_show_cart_note: schema.is_show_cart_note,
		is_show_gift_wrap: schema.is_show_gift_wrap,
		is_enable_discount_code: schema.is_enable_discount_code,
		discount_success_message: schema.discount_success_message,
		discount_error_message: schema.discount_error_message,
		is_enable_upsell: schema.is_enable_upsell,
		upsell_navigation_type: schema.upsell_navigation_type,
		upsell_blocks: upsell_blocks,
		is_enable_free_shipping: schema.is_enable_free_shipping,
		free_shipping_threshold_blocks: free_shipping_threshold_blocks,
		free_shipping_text: schema.free_shipping_text,
		free_shipping_success: schema.free_shipping_success
	%}
</div>
