{% schema %}
{
	"name": "Search",
	"tag": "div",
	"class": "g-search p-x-max bg-pale",
	"settings": [
		{
			"type": "header",
			"content": "See search settings in Theme Settings"
		},
	],
}
{% endschema %}

{%- liquid
	assign search_no_results_message = settings.search_no_results_message
	assign search_no_results_paragraph = settings.search_no_results_paragraph
	assign search_suggestions = settings.search_suggestions

	if search_suggestions != blank
		assign search_suggestions = settings.search_suggestions | split: ','
	endif
-%}

<div class="g-search__main f-v f-a-s">
	<div class="g-search__header f-v f-a-c">
		{%- render 'c-search-form', suggestions: search_suggestions -%}
	</div>

	<div class="g-search__message t-b-1 js-search-result-message">
		<div class="g-search__message__empty js-search-result-empty">
			<p class="t-l-1">{{- search_no_results_message | default: 'Your search did not yield any results.' -}}</p>
			<p class="t-b-2">{{- search_no_results_paragraph | default: "Please check the spelling or use a different word or phrase" -}}</p>
    </div>
	</div>

	<div class="g-search__results js-search-results-wrapper">
		<div class="g-search__results__wrapper">
			<p class="g-search__results__count js-search-result-count"></p>
			<div class="g-search__results__content g-search__results__content--live g g-4 js-live-search-results"></div>
		</div>
	</div>
</div>
