{% schema %}
{
	"name": "Collection Slider",
	"tag": "section",
	"class": "s-collection p-y-section js-lightbox-trigger-parent",
	"presets": [
		{
			"name": "Collection Slider",
		}
	],
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "metaobject",
			"id": "gallery_images",
			"label": "Gallery Images",
			"metaobject_type": "gallery_images"
		},
		{
			"type": "text",
			"id": "cta_label",
			"label": "CTA Label",
			"default": "View Collection"
		},
		{
			"type": "url",
			"id": "cta_url",
			"label": "CTA Url"
		}
	],
}
{% endschema %}

{%- liquid
	assign title = section.settings.title
	assign gallery_images = section.settings.gallery_images.images.value
	assign cta_label = section.settings.cta_label
	assign cta_url = section.settings.cta_url | default: collection.url
-%}

{%- if title != blank -%}
	<h2 class="s-collection__title t-l-2 p-x-max">{{ title }}</h2>
{%- endif -%}

{%- if gallery_images.count > 0 -%}
	{%- capture slider_html -%}
		{%- for i in gallery_images -%}
			<button type="button" class="s-collection-slider__block c-slider__slide js-lightbox-trigger">
				{%- render 'c-img-srcset',
					image: i,
					alt: i.alt
				-%}
			</button>
		{%- endfor -%}
	{%- endcapture -%}
{%- endif -%}

	{%- render 'c-slider',
		classes: 's-collection__slider',
		slider_html: slider_html,
		custom_slides_size: '--slide-size: 20%; --slide-gap: 15px;',
		slider_options: "{'loop': false, 'watchDrag': true, 'align': 'start'}",
		enable_nav: true,
		enable_wheel: true
	-%}

{%- if cta_label != blank and cta_url != blank -%}
	<div class="p-x-max f-h f-j-e ">
		<a
			class="btn-underline is-reverse t-uppercase js-lightbox-action"
			href="{{- cta_url -}}"
		>
			{{- cta_label -}}
		</a>
	</div>
{%- endif -%}
