<div class="password-form-wrapper f-v f-a-c f-j-c p-x-sm">
	{%- if shop.password_message != blank -%}
		<p class="t-h-2 t-center">{{- shop.password_message | newline_to_br s-}}</p>
	{%- endif -%}

	{%- form 'storefront_password' -%}
		{{ form.errors | default_errors }}

		<div class="password-form-input f-h f-a-c {%- if form.errors -%}has-errors{%- endif -%}">
			<div class="c-field">
				<input
					type="password"
					id="password-entry"
					name="password"
					placeholder="Password"
				>
			</div>
			<label for="password-entry" class="screen-reader-only">Password</label>
			<button
				type="submit"
				class="btn"
			>
				Submit
			</button>
		</div>
	{%- endform -%}
</div>

<style>
	.password-form-wrapper {
		height: 100vh;
		gap: 30px;
	}

	.password-form-input {
		gap: 10px;
	}
</style>
