<section class="search-content">
	{%- if search.results.size > 0 -%}
		<div class="search-content__hero f-h">
			<h1 class="t-b-2">
				{{
					search.results_count
					| pluralize: 'result', 'results'
					| prepend: ' '
					| prepend: search.results_count
					| append: ' found for "'
					| append: search.terms
					| append: '"'
				-}}
			</h1>

			{%- if search.filters != blank -%}
				{%- render 'c-product-filters-sort', results: search -%}
			{%- endif -%}
		</div>
		<div class="search-content__results g js-filters-sort-update js-search-results">
		{%- paginate search.results by 200 -%}
			{%- for result in search.results -%}
				{%- if result.url contains '/pages/' -%}
					{%- comment -%} pages {%- endcomment -%}
					{% comment %} commented out to skip pages in search results {% endcomment %}
					{% comment %} {%- render 'c-article-card', article: result -%} {% endcomment %}
					{%- continue -%}

				{%- elsif result.author != null -%}
					{%- comment -%} articles {%- endcomment -%}
					{%- render 'c-article-card', article: result -%}

				{%- else -%}
					{%- comment -%} products {%- endcomment -%}
					{%- render 'c-item-card', item: result, class: 'js-search-results-item' -%}
				{%- endif -%}
			{%- endfor -%}
		{%- endpaginate -%}
		</div>
	{%- else -%}
		<div class="search-content__empty f-v f-j-c f-a-c">
			<div class="search-content__message t-b-1">
				<div class="search-content__message__empty">
					<p class="t-l-1">{{- settings.search_no_results_message | default: 'Your search did not yield any results.' -}}</p>
					<p class="t-b-2">{{- settings.search_no_results_paragraph | default: "Please check the spelling or use a different word or phrase" -}}</p>
				</div>
			</div>
			<div class="search-content__empty__form f-v f-a-c">
				{%- render 'c-search-form', suggestions: settings.search_suggestions, is_search_page: true -%}
			</div>
		</div>

	{% endif %}
</section>