<script>
	window.location.href = '{{ shop.url }}#search';
</script>

<section class="search-content c">
	<div class="search-content__hero wysiwyg">
		<h1>Search Results</h1>
		<p>
			Your search returned
			{{
				search.results_count
				| pluralize: 'result', 'results'
				| prepend: ' '
				| prepend: search.results_count
			-}}
		</p>
		{%- render 'c-search-form' -%}
	</div>

	{%- if search.filters != blank -%}
		{%- render 'c-product-filters-sort', results: search -%}
	{%- endif -%}

	<div class="search-content__results g js-filters-sort-update js-search-results">
		{%- paginate search.results by 200 -%}
			{%- for result in search.results -%}
				{%- if result.object_type == 'product' -%}
					{%- render 'c-item-card', item: result, class: 'js-search-results-item' -%}
				{%- endif -%}
			{%- endfor -%}
		{%- endpaginate -%}
	</div>
</section>
