:root {
	--cr-accent: #693a28;
	--cr-black: #1a1a1a;
	--cr-white: #ffffff;
	--cr-brown: #693a28;
	--cr-gray: #c7c7c7;
	--cr-cream: #eae8df;
	--cr-pale: #f3f2ea;
}

html {
	color: var(--cr-black);
	background-color: var(--cr-white);
}

.cr-accent {
	color: var(--cr-accent);
}
.cr-black {
	color: var(--cr-black);
}
.cr-white {
	color: var(--cr-white);
}
.cr-brown {
	color: var(--cr-brown);
}
.cr-gray {
	color: var(--cr-gray);
}
.cr-cream {
	color: var(--cr-cream);
}
.cr-pale {
	color: var(--cr-pale);
}

.bg-accent {
	background-color: var(--cr-accent);
}
.bg-black {
	background-color: var(--cr-black);
}
.bg-white {
	background-color: var(--cr-white);
}
.bg-brown {
	background-color: var(--cr-brown);
}
.bg-gray {
	background-color: var(--cr-gray);
}
.bg-cream {
	background-color: var(--cr-cream);
}
.bg-pale {
	background-color: var(--cr-pale);
}
