@use "_mixin" as *;

@font-face {
	font-family: "Figtree";
	font-weight: 600;
	font-style: normal;
	font-display: block;
	src: url(../assets/font-figtree-semibold.woff2) format("woff2");
}

@font-face {
	font-family: "Figtree";
	font-weight: 600;
	font-style: italic;
	font-display: block;
	src: url(../assets/font-figtree-semibold-italic.woff2) format("woff2");
}

@font-face {
	font-family: "Figtree";
	font-weight: 500;
	font-style: normal;
	font-display: block;
	src: url(../assets/font-figtree-medium.woff2) format("woff2");
}

@font-face {
	font-family: "Figtree";
	font-weight: 500;
	font-style: italic;
	font-display: block;
	src: url(../assets/font-figtree-medium-italic.woff2) format("woff2");
}

@font-face {
	font-family: "Figtree";
	font-weight: 400;
	font-style: normal;
	font-display: block;
	src: url(../assets/font-figtree-regular.woff2) format("woff2");
}

@font-face {
	font-family: "Figtree";
	font-weight: 400;
	font-style: italic;
	font-display: block;
	src: url(../assets/font-figtree-regular-italic.woff2) format("woff2");
}

:root {
	--t-d-1: 600 26px/1.5 "Figtree", Helvetica, sans-serif;

	--t-h-1: 500 18px/1.5 "Figtree", Helvetica, sans-serif;
	--t-h-2: 500 15px/1.5 "Figtree", Helvetica, sans-serif;
	--t-h-3: 500 14px/1.5 "Figtree", Helvetica, sans-serif;

	--t-b-1: 400 18px/1.4 "Figtree", Helvetica, sans-serif;
	--t-b-2: 400 14px/1.4 "Figtree", Helvetica, sans-serif;
	--t-b-3: 400 12px/1.2 "Figtree", Helvetica, sans-serif;

	--t-l-1: 600 18px/1.5 "Figtree", Helvetica, sans-serif;
	--t-l-2: 400 14px/1.5 "Figtree", Helvetica, sans-serif;
	--t-l-3: 400 12px/1.5 "Figtree", Helvetica, sans-serif;
}

@include tabletDown {
	:root {
	}
}

@include mobileDown {
	:root {
	}
}

@mixin t-d-1 {
	font: var(--t-d-1);
	text-transform: uppercase;
}

@mixin t-h-1 {
	font: var(--t-h-1);
}
@mixin t-h-2 {
	font: var(--t-h-2);
}
@mixin t-h-3 {
	font: var(--t-h-3);
	text-wrap: balance;
}
@mixin t-h-4 {
	font: var(--t-h-4);
}
@mixin t-b-1 {
	font: var(--t-b-1);
}
@mixin t-b-2 {
	font: var(--t-b-2);
}
@mixin t-b-3 {
	font: var(--t-b-3);
}

@mixin t-l-1 {
	font: var(--t-l-1);
	text-transform: uppercase;
}
@mixin t-l-2 {
	font: var(--t-l-2);
	text-transform: uppercase;
}
@mixin t-l-3 {
	font: var(--t-l-3);
	text-transform: uppercase;
}

body {
	@include t-b-2;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.t-d-1 {
	@include t-d-1;
}

h1,
.t-h-1 {
	@include t-h-1;
}

h2,
.t-h-2 {
	@include t-h-2;
}

h3,
h4,
h5,
h6,
.t-h-3 {
	@include t-h-3;
	text-wrap: balance;
}

.t-b-1 {
	@include t-b-1;
}

.t-b-2 {
	@include t-b-2;
}

.t-b-3 {
	@include t-b-3;
}

.t-l-1 {
	@include t-l-1;
}

.t-l-2 {
	@include t-l-2;
}

.t-l-3 {
	@include t-l-3;
}

p,
ol,
ul {
	text-wrap: pretty;
}
