.c-line-item {
	gap: 20px;
	padding-block: 25px;
	border-bottom: 1px solid var(--cr-dark);
	transition: opacity 0.2s;

	&__header {
		gap: 5px;
		width: 100%;
	}

	.c-item-price {
		flex-direction: column;
		height: 100%;

		.c-item-price__pill {
			margin-top: auto;
			margin-left: 0;
		}
	}

	.c-item-price--compare:not(:empty) {
		margin-left: 0;
	}

	&.is-removed {
		display: none;
	}

	&.is-variant-updating {
		opacity: 0.4;
		pointer-events: none;
	}

	&__thumb {
		position: relative;
		max-width: 102px;
		width: 100%;
		&::after {
			content: "";
			display: block;
			padding-top: 133%;
		}
	}

	&__info {
		gap: 8px;
	}

	&__quantity {
		margin-top: auto;
		gap: 10px;
	}

	&__variant {
		.c-item-variants__group:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}
