.c-pagination {
	&__message {
		white-space: nowrap;
	}

	&__loading-dot {
		animation: fadeInOut 2s infinite;

		&:nth-child(2) {
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.4s;
		}
	}

	&__current {
		transform: translateY(-0.1em);
	}

	&__progress {
		height: 3px;
		width: 178px;
		margin: 16px auto;

		&__bar {
			transition: width 0.3s;
		}
	}

	&__load-more {
		position: relative;
	}

	&__end-message {
		opacity: 0;
		pointer-events: none;
		white-space: nowrap;
		transition: 0.4s 0.4s ease-in-out;
	}

	&__btn {
		transition: 0.4s ease-in-out;
	}

	&.is-max-items {
		.c-pagination__end-message {
			opacity: 1;
			pointer-events: auto;
		}
		.c-pagination__btn {
			opacity: 0;
			pointer-events: none;
		}
	}
}
