@use "_mixin" as *;

.c-filters-sort__panel__content__footer {
	opacity: 0.6;
	pointer-events: none;
}

html.is-filter-active {
	.c-filters-sort__panel__content__footer {
		opacity: 1;
		pointer-events: auto;

		& > button {
			color: var(--cr-black);
		}
	}

	.c-filters-sort__reset {
		color: var(--cr-black);
	}
}

.c-filters-sort {
	gap: 10px;
	.c-field {
		margin-bottom: 0;
	}

	//ONLY PRODUCT TYPE LIST

	&__list {
		gap: 15px;

		&__item {
			& > * {
				cursor: pointer;
			}
			&.is-active {
				text-decoration: underline;
			}
		}
	}

	&__selection {
		gap: 20px;
		margin-bottom: 20px;

		@include tabletDown {
			gap: 0;
			border-top: 1px solid;
			border-bottom: 1px solid;
		}
	}

	&__dropdown {
		position: relative;

		&__toggle {
			gap: 0.2em;

			.icon-plus {
				transition: transform 0.3s;

				&:before {
					transition: transform 0.3s;
				}

				.is-dropdown-active &:before {
					transform: translate3d(-50%, -50%, 0) rotate(90deg) scaleX(0);
				}
			}
		}

		&__content {
			position: absolute;
			top: calc(100% + 5px);
			left: 0;
			padding: 4px 0;
			border: 1px solid;
			opacity: 0;
			pointer-events: none;
			z-index: 100;
			transition: opacity 0.2s;

			&__list {
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				&.is-sort {
					grid-template-columns: repeat(1, 1fr);
				}

				label input {
					pointer-events: none;
				}
			}

			.is-dropdown-active & {
				opacity: 1;
				pointer-events: auto;
			}

			&__label {
				padding: 4px 8px;
				gap: 0.5em;
				white-space: nowrap;
				cursor: pointer;
				transition: background 0.2s;

				// @include hover {
				// 	background-color: var(--cr-subtle);
				// }

				&.is-disabled,
				input[disabled] {
					cursor: not-allowed;
					color: var(--cr-subtle-3);
				}
			}
		}

		&__price-range {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 4px 8px;

			.c-field {
				display: flex;
				align-items: center;
				gap: 4px;
			}

			.c-field input {
				--height: 30px;
				--padding-h: 4px;
				--line-height: 20px;
				min-width: 80px;
				border: 1px solid;
			}

			[type="submit"] {
				width: fit-content;
				display: block;
				border-bottom: 1px solid;
			}
		}

		&--sort {
			margin-left: auto;

			select {
				opacity: 0;
				cursor: pointer;
			}

			.c-filters-sort__dropdown__toggle:before {
				content: "Sort By" attr(data-current);
			}
		}

		@include tabletDown {
			&--sort {
				button {
					width: 100%;
					padding: 10px;
					justify-content: center;
				}

				.c-filters-sort__dropdown__toggle {
					&:before {
						content: "Sort";
					}

					.icon-caret-top {
						display: none;
					}
				}
			}
		}
	}

	&__active {
		width: 100%;
		height: fit-content;
		overflow: hidden;
		margin-bottom: 20px;
		padding: 10px 0;
		border-top: 1px solid;
		border-bottom: 1px solid;
		gap: 5px;
		transition: height 0.2s, margin 0.2s, padding-top 0.2s, padding-bottom 0.2s,
			border 0.2s;

		&:empty {
			height: 0;
			margin-bottom: 0;
			padding: 0;
			border-color: transparent;
		}

		button {
			padding: 0.4em 0.6em;
			white-space: nowrap;
			background-color: var(--cr-subtle);

			.icon-close {
				margin-left: 0.2em;
			}
		}

		@include tabletDown {
			border-top: unset;
			border-bottom: unset;
			padding: 0;

			&--panel {
				margin-bottom: 0;
				padding: 20px var(--padding-h);
				border-top: 1px solid;
			}
		}
	}

	&__panel {
		--border: 1px solid var(--cr-dark);
		--padding-h: 20px;
		position: fixed;
		z-index: 120;

		&__overlay {
			position: fixed;
			background-color: var(--cr-subtle);
			transition: 0.4s;
			z-index: 110;
		}

		&__content {
			position: fixed;
			height: 100%;
			width: 90%;
			max-width: 400px;
			top: 0;
			right: 0;
			background-color: var(--cr-pale);
			transition: 0.6s var(--e-inOut-expo);
			z-index: 120;
			padding: 40px var(--padding-h) 20px;

			&__header {
				border-bottom: var(--border);
				padding-bottom: 20px;
			}

			&__body {
				// flex: 1;
				overflow-y: auto;
				overflow-x: hidden;
				// padding: 20px var(--padding-h);
			}

			&__footer {
				gap: 10px;
				padding: 60px calc(var(--padding-h) + 60px) 0;

				.btn {
					width: 100%;
					margin-inline: auto;
				}
			}
		}

		.c-filters-sort__dropdown {
			border-bottom: var(--border);

			&__toggle {
				width: 100%;
				padding: 20px 0;
			}

			&__content {
				position: relative;
				height: fit-content;
				top: unset;
				left: unset;
				padding: 0 0 10px;
				border: unset;
				max-height: 500px; /* Set a reasonable max-height */
				opacity: 1;
				overflow: hidden;
				transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
					padding 0.3s ease-in-out;
			}

			&:not(.is-dropdown-active) .c-filters-sort__dropdown__content {
				max-height: 0;
				opacity: 0;
				padding: 0;
			}
		}

		html:not(.is-filters-sort-panel-active) & {
			pointer-events: none;

			&__overlay {
				opacity: 0;
				transition-delay: 0.4s;
			}

			&__content {
				transform: translate3d(100%, 0, 0);
			}
		}
	}
}

.collection-products.js-filters-sort-update,
.collection-products-pagination.js-filters-sort-update {
	transition: opacity 0.2s;
}

html.is-filters-sort-updating {
	.js-filters-sort-update {
		pointer-events: none;
	}

	.collection-products.js-filters-sort-update,
	.collection-products-pagination.js-filters-sort-update {
		opacity: 0;
	}
}
