.c-search-form {
	width: 100%;
	max-width: 400px;
	border-bottom: 1px solid;

	&.is-search-page {
		.c-search-form__input {
			text-align: center;
		}
	}

	&__input {
		width: 100%;
		height: 30px;
	}

	&__suggestions {
		gap: 20px;
	}

	&__main {
		padding-block: 50px;
	}
}
