@use "_mixin" as *;

.g-announcement {
	--dot-size: 10px;
	--dot-gap: 8px;
	--padding-h: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	color: var(--color);
	background-color: var(--background);
	z-index: var(--z-announcement);
	transition: height 0.2s, opacity 0.2s;

	&__close {
		position: absolute;
		right: var(--padding-h);
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}

	&.is-removed {
		opacity: 0;
		height: 0;
	}

	&:empty {
		display: none;
	}

	&__blocks {
		position: relative;
		transition: height 0.4s 0.2s;

		&__item {
			position: relative;
			width: 100%;
			top: 0;
			left: 0;
			padding: 10px calc(var(--padding-h) + 20px) 10px var(--padding-h);
			transition: opacity 0.4s 0.4s;

			b,
			strong {
				font-weight: 600;
			}

			a {
				text-decoration: underline;
				text-underline-offset: 3px;
				font-weight: 600;
				margin-left: 0.5em;
			}

			&:not(.is-active) {
				position: absolute;
				opacity: 0;
				pointer-events: none;
				transition-delay: 0s;
			}
		}
	}

	&__dots {
		padding: 0 var(--padding-max) 6px;
		gap: var(--dot-gap);

		button {
			position: relative;
			width: var(--dot-size);
			height: var(--dot-size);
			border: 1px solid;
			border-radius: 100%;
			transition: background 0.2s, border 0.2s;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: calc(var(--dot-size) + var(--dot-gap));
				height: calc(var(--dot-size) + var(--dot-gap));
				transform: translate3d(-50%, -50%, 0);
			}

			&.is-active {
				color: var(--emphasize);
				background-color: var(--emphasize);
			}

			@include hover {
				color: var(--emphasize);
			}
		}
	}

	@include mobileDown {
		&__blocks__item__text {
			font-size: 11px;
		}
	}
}
