@use "_mixin" as *;

.g-footer {
	position: relative;
	overflow: hidden;
	&__inner {
		gap: 40px 80px;
		padding-top: 30px;
		padding-bottom: 40px;
		border-top: 1px solid var(--cr-gray);
	}

	&__linklist {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px 60px;
	}

	&__contact {
		gap: 60px;
		margin-left: auto;
	}

	&__social {
		&__linklist {
			gap: 15px;

			&__item {
				width: 1.3em;
				transition: opacity 0.2s;
				@include hover {
					opacity: 0.7;
				}
			}
		}
	}

	&__form {
		&__title {
			margin-bottom: 12px;
		}

		&__info {
			margin-top: 15px;
		}
	}

	&__copyright {
		flex-basis: 100%;
		text-align: center;
	}

	@include tabletDown {
		&__linklist {
			gap: 20px 30px;
		}

		&__contact {
			width: 100%;
			margin-left: 0;
			order: 2;
		}

		&__form {
			display: flex;
			// flex-wrap: wrap;
			justify-content: space-between;
			gap: 20px;
			width: 100%;

			&__title {
				margin-bottom: 0px;
			}
		}

		&__social {
			order: 3;
		}

		&__copyright {
			order: 4;
		}
	}

	@include mobileDown {
		&__linklist {
			gap: 10px 5px;

			&__item {
				font-size: 12px;
			}
		}

		&__inner {
			gap: 40px;
			padding-top: 40px;
			padding-bottom: 40px;
			border-top: 1px solid var(--cr-gray);
		}

		&__form {
			gap: 10px;
			&__title {
				width: 45%;
			}
		}
	}
}
