@use "_mixin" as *;

html:not(.is-cart-empty) {
	.g-header__cart:after {
		opacity: 1;
	}
}

html.is-megamenu-active {
	.g-header__megamenu.is-active {
		opacity: 1;
		pointer-events: auto;
	}
}

html.mobile-menu-is-active {
	.g-header__mobile__trigger:before {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.g-header__mobile__trigger:after {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	.g-header__mobile__trigger span {
		opacity: 0;
	}

	// .global-overlay {
	// 	opacity: 1;
	// 	pointer-events: auto;
	// }

	.g-header__mobile__menu {
		opacity: 1;
		pointer-events: auto;
	}
}

.g-header {
	--spacing: 22px;
	position: fixed;
	top: var(--s-announcement);
	width: 100%;
	transform: translate3d(0, 0, 0);
	padding-block: calc(var(--spacing) - 1.5px);
	z-index: var(--z-header);

	&__cart {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			right: -3px;
			top: -3px;
			width: 6px;
			height: 6px;
			background-color: var(--cr-brown);
			border-radius: 100%;
			opacity: 0;
		}
	}

	&__links {
		gap: 60px;
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		width: 85px;
	}

	&__actions {
		gap: 25px;

		& > * {
			display: inline-block;
			width: 1em;
		}
	}

	&__cart {
		width: 1.2em;
	}

	&__megamenu {
		position: absolute;
		overflow: hidden;
		top: calc(var(--s-header) - 0.5px);
		left: 0;
		width: 100%;
		padding-bottom: var(--spacing);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.4s;

		&:before,
		&:after {
			content: "";
			display: block;
			height: 1px;
			background-color: currentColor;
		}

		&__inner {
			gap: var(--spacing);
			padding-block: var(--spacing);
		}

		&__columns {
			gap: clamp(80px, 10vw, 120px);
		}

		&__column {
			display: grid;
			grid-template-rows: repeat(8, auto);
			grid-auto-flow: column;
			gap: 15px var(--s-section);
		}

		&__images {
			position: relative;
			overflow: hidden;
			width: 40%;
			height: 220px;
		}

		&__blocks {
			position: absolute;
			overflow: hidden;
			right: 0;
			gap: 20px;
			justify-content: flex-end;
			transition: var(--t-1);
			opacity: 0;
			pointer-events: none;

			&.is-active {
				position: relative;
				opacity: 1;
				pointer-events: auto;
				transition-delay: 0.2s;
			}
		}

		&__block {
			position: relative;
			overflow: hidden;
			width: 100%;
		}

		&__image {
			position: relative;
			overflow: hidden;
		}
	}

	&__mobile {
		&__trigger {
			position: relative;
			width: 30px;
			height: 30px;

			&:before,
			&:after,
			span {
				content: "";
				display: block;
				position: absolute;
				height: 1.5px;
				width: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: var(--cr-black);
				pointer-events: none;
				transition: 0.2s;
			}

			&:before {
				top: 30%;
			}

			&:after {
				top: 70%;
			}
		}

		&__menu {
			position: fixed;
			overflow-y: auto;
			top: var(--s-header-dynamic);
			left: 0;
			width: 100%;
			height: calc(100vh - var(--s-header-dynamic));
			height: calc(100svh - var(--s-header-dynamic));
			padding: 0 var(--s-contain) 30px;
			opacity: 0;
			pointer-events: none;
			transition: var(--t-2);
		}

		&__list {
			border-top: 1px solid;
		}

		&__column {
			padding-left: 0.8em;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		&__accordion {
			--padding-v: var(--spacing);
		}

		&__link {
			& > * {
				display: block;
				width: 100%;
				padding-block: var(--spacing);
			}
		}
	}

	@include tabletDown {
		--spacing: 20px;
		// &__logo {
		// 	position: relative;
		// 	top: unset;
		// 	left: unset;
		// 	transform: none;
		// }
	}
}
