@use "_mixin" as *;

html.is-lightbox-active {
	.g-lightbox {
		opacity: 1;
		visibility: visible;
	}
}

.g-lightbox {
	position: fixed;
	top: calc(var(--s-header-dynamic) - 0.5px);
	left: 0;
	width: 100%;
	height: calc(100% - var(--s-header-dynamic));
	padding-inline: var(--s-contain);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;

	&__inner {
		height: 100%;
		overflow-y: auto;
	}

	&__backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--cr-pale);

		// rgba(243, 242, 234, 0.5);
		cursor: pointer;
	}

	&__header {
		position: absolute;
		width: calc(100% - var(--s-contain) * 2);
		left: var(--s-contain);
		padding-block: 10px;
		z-index: 3;
	}

	&__content {
		position: relative;
		overflow-y: auto;
		align-items: center;
		height: 100%;
		gap: 80px;
		pointer-events: none;
		z-index: 1;
	}

	&__close {
		position: absolute;
		top: 0;
		right: var(--s-contain);
		width: 30px;
		height: 30px;
		z-index: 2;

		.icon-close {
			width: 30px;
			height: 30px;
		}
	}

	&__sidebar {
		overflow-y: auto;
		gap: 10px;
		grid-auto-rows: auto;
		max-width: 300px;
		max-height: 500px; /* not always reliable depending on content */
		pointer-events: auto;
	}

	&__thumbnail {
		opacity: 0.5;
		&.is-active {
			opacity: 1;
			pointer-events: none;
		}
	}

	&__main {
		position: relative;
		max-width: 800px;
		pointer-events: auto;

		&.is-single {
			position: absolute;
			height: calc(100vh - var(--s-header-dynamic));
			left: 50%;
			transform: translate3d(-50%, 0, 0);
		}
	}

	&__navigation {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	&__nav {
		position: absolute;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		pointer-events: auto;

		& > * {
			width: 1.5em;
			height: 1.5em;
		}

		&--next {
			right: -2em;
		}

		&--prev {
			left: -2em;
		}
	}

	&__action {
		justify-self: flex-end;
		width: fit-content;
		pointer-events: auto;

		&.is-single {
			position: absolute;
		}
	}

	@include tabletDown {
		&__content {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&__main {
			order: 1;
			max-width: min((100vw - 80px - var(--s-contain) * 2), 500px);
			margin-inline: auto;

			&.is-single {
				width: min(100vw - 60px - var(--s-contain) * 2, 500px);
				height: unset;
				top: 10%;
			}
		}

		&__sidebar {
			order: 2;
			display: flex;
			overflow-x: auto;
			overflow-y: hidden;
			max-height: unset;
			margin-inline: auto;
			margin-top: auto;
			margin-bottom: 20px;

			& > * {
				flex: 0 0 auto;
				width: 15%;
			}
		}

		&__action {
			order: 3;
			display: flex;
			justify-self: center;

			&.is-single {
				position: relative;
				margin-top: auto;
				margin-bottom: 20px;
			}
		}
	}

	@include tabletDown {
		// &__content {
		// 	display: flex;
		// 	flex-direction: column;
		// 	gap: 20px;
		// }

		&__main {
			order: 1;
			max-width: 100vw;
			margin-inline: auto;
		}

		// &__nav {
		// 	&--next {
		// 		right: var(--s-contain);
		// 	}

		// 	&--prev {
		// 		left: var(--s-contain);
		// 	}
		// }

		// &__sidebar {
		// 	order: 2;
		// 	display: flex;
		// 	overflow-x: auto;
		// 	overflow-y: hidden;
		// 	max-height: unset;
		// 	margin-inline: auto;

		// 	& > * {
		// 		flex: 0 0 auto;
		// 		width: 15%;
		// 	}
		// }
	}
}
