@use "_mixin" as *;

html.is-search-active {
	.g-search {
		opacity: 1;
		pointer-events: auto;
	}
}

.g-search {
	position: fixed;
	overflow: hidden;
	top: calc(var(--s-header-space) - 1px);
	left: 0;
	right: 0;
	width: 100%;
	z-index: var(--z-search);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s;

	&:before {
		content: "";
		display: block;
		height: 1px;
		background-color: currentColor;
	}

	&__header {
		gap: 20px;
	}

	&__form {
		width: 100%;
		max-width: 400px;
		border-bottom: 1px solid;
	}

	&__input {
		width: 100%;
	}

	&__suggestions {
		gap: 20px;
	}

	&__main {
		padding-block: 50px;
	}

	//EMPTY STATE
	&__message {
		text-align: center;
		display: none;
		padding-top: 50px;

		&__empty {
			& > *:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		&.is-empty {
			display: block;
		}
	}

	//RESULTS
	&__results {
		overflow-y: auto;
		padding-inline: 50px;
		max-height: 600px;

		&.is-live {
			margin-top: 50px;
			padding-top: 50px;
			border-top: 1px solid;
		}
		&__count {
			margin-bottom: 20px;
		}

		&__content {
			gap: 20px;
		}
	}

	@include mobileDown {
		height: 100%;

		&__results {
			padding-inline: 0px;

			&__content {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
