@use "_mixin" as *;

.article-content {
	&__hero {
		position: relative;
		gap: 40px;
		margin-bottom: calc(var(--s-section) * 2.5);
		min-height: 100vh;
		min-height: 100svh;

		&__title {
			margin-bottom: var(--s-section);
		}

		&__image {
			position: sticky;
			top: var(--s-header-space);
			overflow: hidden;
			width: 40%;
			height: calc(100vh - var(--s-header-space));
			height: calc(100svh - var(--s-header-space));
		}

		&__content {
			flex: 1;
			max-width: 800px;
			height: 100%;
			margin-top: auto;
			padding: 20% 0 20px var(--s-contain);
		}

		@include tabletDown {
			flex-wrap: wrap;
			flex-direction: column-reverse;
			gap: 30px;
			height: unset;

			&__content {
				max-width: 800px;
				padding: 0 var(--s-contain);
			}

			&__image {
				position: relative;
				top: 0;
				width: 100%;
				height: 70vh;
				height: 70svh;
			}
		}
	}
}

.article-gallery {
	margin-block: calc(var(--s-section) * 2.2);
	&__title {
		margin-bottom: 70px;
		@include mobileDown {
			margin-bottom: 20px;
		}
	}

	&__blocks {
		padding-inline: calc(var(--s-contain) * 3);
		gap: 90px 40px;

		@include tabletDown {
			grid-template-columns: repeat(3, 1fr);
			gap: 60px 30px;
		}

		@include mobileDown {
			padding-inline: 0;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}
	}
}
