@use "_mixin" as *;

.about-content {
	padding-top: calc(var(--s-header-space) + var(--s-section));
	padding-bottom: var(--s-section);
	&__image {
		position: relative;
		overflow: hidden;
		max-height: 560px;
		max-width: 600px;
		margin-inline: auto;

		&:not(:last-child) {
			margin-bottom: var(--s-section);
		}
	}

	&__inner {
		position: relative;
		gap: 40px;
		width: 100%;
		max-width: 600px;
		margin-inline: auto;
	}

	&__title {
		position: absolute;
		left: 0;
		top: 0;
		transform: translate3d(calc((100% + var(--s-section)) * -1), 0, 0);
	}

	@include tabletDown {
		&__title {
			position: relative;
			transform: none;
		}
		&__inner {
			flex-wrap: wrap;
		}
	}
}
