@use "_mixin" as *;

.about-content {
	padding: calc(var(--s-header-dynamic) + var(--s-section)) 0 var(--s-section);
	&__image {
		position: relative;
		overflow: hidden;
		max-height: 560px;
		max-width: 600px;
		margin-inline: auto;

		&:not(:last-child) {
			margin-bottom: var(--s-section);
		}
	}

	&__inner {
		gap: 40px;
		width: 100%;
		max-width: 904px;
		margin-inline: auto;
	}

	&__paragraph {
		max-width: 600px;
	}

	@include tabletDown {
		&__inner {
			flex-wrap: wrap;
		}
	}
}
