.p-general {
	padding-block: calc(var(--s-header-dynamic) + var(--s-section));
	gap: var(--s-section);

	&__title {
		width: 100%;
	}
}

.shopify-policy {
	&__container {
		width: calc(100vw - var(--s-contain) * 2);
		max-width: 900px !important;
		margin: var(--s-section) auto !important;
		padding: 0 !important;
	}

	&__title {
		margin-bottom: 40px;
		text-align: left;
	}
}
