@use "_mixin" as *;

.contact-content {
	padding-top: calc(var(--s-header-space) + 40px);
	min-height: 100vh;
	min-height: 100svh;
	&__inner {
		gap: 40px;
		width: 100%;
	}

	&__main {
		gap: 40px;
	}

	&__list {
		gap: 15px;
	}

	&__label {
		margin-bottom: 5px;
	}

	@include mobileDown {
		&__inner {
			flex-wrap: wrap;
		}
	}
}

.stockists-content {
	padding-top: calc(var(--s-header-space) + 40px);
	min-height: 100vh;
	min-height: 100svh;
	&__inner {
		gap: 40px;
		width: 100%;
	}

	&__main {
		gap: 10px;
		width: 100%;
		.c-accordion {
			width: 100%;
			max-width: 600px;
		}

		.c-accordion:first-child {
			.c-accordion__toggle {
				padding-top: 0px;
			}
		}

		.c-accordion__content {
			ul {
				list-style: none;
				li:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
	}

	@include mobileDown {
		&__inner {
			flex-wrap: wrap;
		}
	}
}

.authentication-content {
	padding-top: calc(var(--s-header-space) + 40px);
	min-height: 100vh;
	min-height: 100svh;
	&__inner {
		gap: 40px;
		width: 100%;
	}

	&__main {
		gap: 40px;
	}

	&__form {
		gap: 10px;
		width: 100%;
	}

	&__logo {
		max-width: 150px;
	}

	&__images {
		gap: 20px;

		& > * {
			position: relative;
			flex: 1;
			width: 100%;
		}
	}

	@include mobileDown {
		&__inner {
			flex-wrap: wrap;
		}

		&__images {
			flex-direction: column;
		}
	}
}
