@use "_mixin" as *;

.product-hero {
	--hero-height: 100vh; // fallback
	--hero-height: 100svh;

	--spacing-lg: 40px;
	--spacing-md: 30px;
	--spacing-top: calc(var(--s-header-dynamic) + 60px);

	--aspect-ratio: 0.85;
	// gap: clamp(40px, 8vw, var(--s-section));
	padding-top: var(--spacing-top);
	padding-inline: calc(var(--s-contain) * 4);
	margin-bottom: calc(var(--s-section) * 2);

	@include hover {
		.product-hero__gallery__thumbnails {
			opacity: 1;
		}
	}

	&__gallery {
		flex: 60% 0 0;
		&.is-fade {
			height: var(--hero-height);

			.product-hero__gallery__thumbnails {
				&__wrapper {
					height: 100%;
				}
			}

			.product-hero {
				&__gallery {
					&__slider {
						height: 100%;
					}
				}
			}

			.slider-block {
				opacity: 0;
				pointer-events: none;
				transition: 0.4s;
				height: 100%;

				&.is-active {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}

		&.is-scroll {
			.slider-block {
				position: relative;
				flex: 0 0 100%;
				width: 100%;
				height: fit-content;

				&.is-model {
					aspect-ratio: var(--aspect-ratio);
				}
			}

			&.is-natural {
				.c-video {
					iframe {
						top: unset;
						left: unset;
						width: 100%;
						height: 100%;
						transform: unset;
					}
				}
			}

			&.is-fit {
				.c-video {
					position: absolute;
				}

				.slider-block {
					aspect-ratio: var(--aspect-ratio);
					overflow: hidden;
				}
			}
		}

		&.is-fit {
			.slider-block {
				video {
					object-fit: cover;
				}

				img {
					object-fit: cover;
				}
			}
		}

		&__slider {
			overflow: hidden;
			width: 100%;
			height: 100%;
			gap: 15px;
		}

		&__thumbnails {
			position: sticky;
			top: var(--spacing-top);
			max-width: 100px;
			width: 100%;
			height: 100%;
			transition: 0.4s ease;
			z-index: 5;
			max-height: 550px;
			overflow-x: hidden;
			overflow-y: auto;
			direction: rtl; // place scrollbar to left side
			-ms-overflow-style: none; /* Internet Explorer 10+ */
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none; /* Older Safari and Chromium */
			}

			&__wrapper {
				gap: 15px;
				position: sticky;
				top: 0;
			}
		}

		&__thumbnail {
			position: relative;
			width: 100%;

			&:after {
				content: "";
				display: block;
				padding-top: 115%;
			}

			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -7.5px;
				width: 100%;
				height: 1px;
				border-bottom: 1px solid transparent;
				transition: 0.2s;
			}

			&.is-active {
				&:before {
					border-color: var(--cr-black);
				}

				pointer-events: none;
			}

			@include hover {
				&:before {
					border-color: var(--cr-accent);
				}
			}
		}

		&__block {
			display: flex;
			gap: 20px 40px;
			position: absolute;
			inset: 0;
			opacity: 0;
			pointer-events: none;

			&.is-active {
				position: relative;
				opacity: 1;
				pointer-events: auto;
			}

			.c-slider__slide {
				margin-bottom: 15px;
			}

			.c-slider__dots {
				display: none;
				margin-top: 0;
			}
		}
	}

	&__sticky-scroll-track {
		flex: 1;
	}

	&__header {
		margin-bottom: var(--spacing-md);
		padding-bottom: 15px;
		border-bottom: 1px solid;
	}

	&__tabs {
		margin-bottom: var(--spacing-md);
		padding-bottom: var(--spacing-md);
		border-bottom: 1px solid;

		&__options {
			gap: var(--spacing-lg);
			margin-bottom: var(--spacing-md);
		}

		&__option {
			opacity: 0.6;
			transition: var(--t-1);

			&.is-active {
				opacity: 1;
			}

			@include hover {
				opacity: 1;
			}
		}

		&__content {
			position: relative;
			overflow: hidden;
			transition: height 0.4s ease;
		}

		&__block {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			pointer-events: none;
			transition: var(--t-2);
			&.is-active {
				position: relative;
				opacity: 1;
				pointer-events: auto;
			}
		}

		&__item {
			gap: var(--spacing-md);
			max-width: 600px;
			&:not(:last-child) {
				margin-bottom: var(--spacing-md);
			}
		}

		&__image {
			max-width: 50px;
			width: 100%;
		}
	}

	&__form {
		margin-bottom: 10px;
	}

	&__content {
		flex: 40% 0 0;
		padding-left: clamp(40px, 5vw, 96px);
		&__interior {
			position: sticky;
			// bottom: 0;
			top: var(--spacing-top);
			min-height: var(--hero-height);
			max-width: 460px;
			width: 100%;
		}
	}

	//ACCORDIONS

	&__accordions {
		.c-accordion {
			--padding-v: 10px;
			border-bottom: 0px;
		}

		.c-accordion__toggle {
			font: var(--t-h-2);
		}
	}

	&__guide {
		&__convert {
			gap: 0.5em;
			margin-bottom: 15px;

			[data-convert-trigger] {
				opacity: 0.6;
				transition: var(--t-1);
				&.is-active {
					opacity: 1;
					pointer-events: none;
				}

				@include hover {
					opacity: 1;
				}
			}
		}
		&__table {
			display: block;
			overflow-x: auto;
			white-space: nowrap;
			width: 100%;
			border-top: 1px solid;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			th,
			td {
				padding-block: 15px;
				// padding-inline: 5px;
				min-width: 75px;
				text-align: center;
				border-bottom: 1px solid;
				font: var(--t-l-3);
				line-height: 1;
				font-weight: 500;
			}

			td:first-child {
				padding-right: 30px;
			}

			tbody tr:nth-child(odd) {
				background-color: var(--cr-cream);
			}
		}

		&__description {
			margin-top: 10px;
		}
	}

	@include tabletDown {
		--spacing-top: calc(var(--s-header) + var(--s-announcement));
		flex-direction: column;
		padding-top: var(--spacing-top);
		padding-inline: 0px;
		& > * {
			flex: 100%;
			position: relative;
			top: 0;
		}

		&__image {
			overflow: hidden;
			aspect-ratio: var(--aspect-ratio);
		}

		&__gallery {
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;

			.c-slider {
				.c-slider__viewport {
					margin-bottom: 15px;
				}
				.c-slider__dots {
					display: flex;
					gap: 15px;
				}

				.c-slider__dot {
					--bg-color: var(--cr-gray);
				}
			}

			//Change to horizontal
			&__block {
				flex-direction: column;

				.c-slider__slide {
					margin-right: 10px;
					margin-bottom: 0;
					max-width: calc(100% - var(--s-contain) * 2 - 40px);

					& > * {
						transform: scale(0.95);
						transition: transform 0.4s ease;
					}

					&.is-snapped > * {
						transform: scale(1);
					}
				}

				&.is-active {
					.c-slider__viewport {
						pointer-events: auto;
					}
				}
			}
		}

		&__content {
			padding-left: 0;

			&__interior {
				min-height: unset;
			}
		}

		&__content__interior {
			display: flex;
			flex-direction: column;
			max-width: unset;

			& > * {
				order: 3;
			}
		}

		&__header {
			order: 1;
			padding-bottom: 0;
			border-bottom: 0px;
		}

		.c-item-variants__group:not(:last-child) {
			margin-bottom: 20px;
		}

		&__form {
			order: 2;
			margin-bottom: 40px;
		}

		//padding
		&__header,
		&__tabs,
		&__form,
		&__accordions {
			padding-inline: var(--s-contain);
		}

		&__tabs {
			border-bottom: 0px;
			margin-bottom: 0px;

			&__option {
				&.is-active {
					text-decoration: underline;
					text-underline-offset: 3px;
				}
			}
		}
	}

	@include mobileDown {
		--spacing-lg: 30px;
		--spacing-md: 20px;
	}
}

.products-related {
	position: relative;
	padding-top: 60px;
	margin-bottom: calc(var(--s-section) * 2);
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 70%;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		border-top: 1px solid;
	}

	&__title {
		margin-bottom: 60px;
		padding-inline: calc(var(--s-contain) * 4);
		text-align: center;
		@include mobileDown {
			padding-inline: var(--s-contain);
		}
	}

	&__blocks {
		gap: 20px;
		overflow-x: auto;
		padding-inline: calc(var(--s-contain) * 4);

		& > .c-item-card {
			flex: 1;
		}

		@include tabletDown {
			justify-content: flex-start;
			& > .c-item-card {
				flex: 0 0 auto;
				width: 35%;
			}
		}

		@include mobileDown {
			padding-inline: var(--s-contain);
			& > .c-item-card {
				width: 45%;
			}
		}
	}
}

.products-complementary {
	padding-top: 5px;
	&__title {
		font: var(--t-h-2);
		margin-bottom: 15px;
	}

	&__blocks {
		gap: 15px;
		overflow-x: auto;
	}

	@include tabletDown {
		&__title,
		&__blocks {
			padding-inline: var(--s-contain);
		}

		&__blocks {
			display: flex;
			justify-content: flex-start;
			& > .c-item-card {
				flex: 0 0 auto;
				width: 35%;
			}
		}
	}

	@include mobileDown {
		&__blocks > .c-item-card {
			width: 45%;
		}
	}
}
