.s-collection {
	&__title {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__slider {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__slider {
		padding-left: var(--s-contain);

		.c-slider__buttons {
			padding-inline: var(--s-contain);
		}
	}
}
