.s-editorial-slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	height: 100svh;

	&__content {
		position: relative;
		text-align: center;
		z-index: 2;

		& > *:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__block {
		position: relative;
		padding-block: 80px;

		&:after {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: 0;
		}
	}

	&__url {
		z-index: 1;
	}

	.c-slider__buttons {
		padding-inline: var(--s-contain);
		pointer-events: none;

		& > * {
			pointer-events: auto;
		}
	}

	.c-slider__dots {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		pointer-events: none;
		& > * {
			pointer-events: auto;
		}
	}
}
